.icon-btn {
  border-radius: 100px;
  width: 9.375em;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.-btn-outline {
  border: 1px solid var(--GREY_1);
  color: var(--NAVY);
}

.-btn-fill {
  background-color: var(--BLUE);
  color: var(--WHITE);
}

.icon-btn-icon {
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.625em;
}
